.y{
    background-color: blueviolet;
    width: 50%;
    height: 70vh;
    margin: auto;
    
}

.contener{
    width: 100%;
    text-align: center;
}
input{
    width: 100%;
    
}









.fot{
    position: fixed;
    top: 30%;

    display: flex;
    justify-self: center;
    align-items: center;
    width: 300px;

    height: 100px;
    background-color: bisque;
    text-align: center;
}